<PaperToolbar>
  <PaperToolbarTools>
    <NavButton @to="index">
      Ideas
    </NavButton>

    <span class="flex"></span>

    <NavButton @to="index">
      Ideas
    </NavButton>

    <NavButton @to="sources">
      Sources
    </NavButton>
  </PaperToolbarTools>
</PaperToolbar>
