<PaperToolbar>
  <PaperToolbarTools>
    <NavButton @to="index">
      Ideas
    </NavButton>

    <span class="flex"></span>

    {{#if this.session.isAuthenticated}}
      <NavButton @to="index">
        Ideas
      </NavButton>

      <NavButton @to="sources">
        Sources
      </NavButton>

      <NavButton @to="authors">
        Authors
      </NavButton>

      <PaperButton @onClick="logOut">
        Log Out
      </PaperButton>
    {{/if}}
  </PaperToolbarTools>
</PaperToolbar>
