<PaperItem @onClick={{this.goToIdeaDetail}} class="md-2-line" as |Controls|>
  <div class="md-list-item-text">
    <p class="preserve-line-breaks">{{@idea.summary}}</p>
  </div>
  <div class="md-secondary-container">
    <Controls.button @warn={{true}} @onClick={{this.delete}}>
      Delete
    </Controls.button>
  </div>
</PaperItem>
