{{#each this.sortedQuotes as |quote|}}
  <QuoteCard
    @quote={{quote}}
    @ideas={{@ideas}}
  >
    <div class="preserve-line-breaks">{{quote.idea.summary}}</div>
    <div>{{quote.location}}</div>
  </QuoteCard>
{{/each}}
