{{#each this.sortedQuotes as |quote|}}
  <QuoteCard
    @quote={{quote}}
    @ideas={{@ideas}}
  >
    <div class="preserve-line-breaks">{{#link-to
      "ideas"
      quote.idea.id
    }}{{quote.idea.summary}}{{/link-to}}</div>
    <div>{{quote.location}}</div>
  </QuoteCard>
{{/each}}
