<PaperItem @onClick={{this.goToSourceDetail}} class="md-2-line">
  <div class="md-list-item-text">
    <h3 class="preserve-line-breaks">{{@source.title}}</h3>
    {{#if (has-block)}}
      <h4>{{yield}}</h4>
    {{/if}}
  </div>
</PaperItem>
