{{#if this.sortedIdeas}}
  <div class="list-group">
    <div class="list-group-item">
      <div class="form-group">
        <Input
          @value={{this.filter}}
          class="form-control"
          placeholder="Search"
          autocapitalize="sentences"
        />
      </div>
    </div>
    {{#each this.filteredIdeas as |idea|}}
      <Idea::ListItem @idea={{idea}} />
    {{/each}}
  </div>
{{/if}}
