<PaperCard as |Card|>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">
      Ideas
    </a>
    <span class="flex-fill"></span>
    <PaperButton
      @onClick={{action (mut this.isAdding) true}}
      data-test-add-idea-button
    >
      Add
    </PaperButton>
  </nav>
  {{#if this.isAdding}}
    <form {{on "submit" this.createIdea}}>
      <Card.content>
        <div
          class="form-group"
          data-test-idea-summary-field
        >
          <Textarea
            @value={{this.summary}}
            id="idea-summary-field"
            class="form-control"
            placeholder="New Idea"
            autocapitalize="sentences"
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary text-dark"
          data-test-save-idea-button
        >
          Save
        </button>
        <button
          type="button"
          class="btn btn-light"
          {{on "click" (action (mut this.isAdding) false)}}
        >
          Cancel
        </button>
      </Card.content>
    </form>
  {{/if}}
</PaperCard>
