<PaperCard as |Card|>
  <PaperToolbar as |Toolbar|>
    <Toolbar.tools>
      <h2>Ideas</h2>
      <span class="flex"></span>
      <PaperButton
        @onClick={{action (mut this.isAdding) true}}
        data-test-add-idea-button
      >
        Add
      </PaperButton>
    </Toolbar.tools>
  </PaperToolbar>
  {{#if this.isAdding}}
    <form {{on "submit" this.createIdea}}>
      <Card.content>
        <div
          class="form-group"
          data-test-idea-summary-field
        >
          <Textarea
            @value={{this.summary}}
            id="idea-summary-field"
            class="form-control"
            placeholder="New Idea"
            autocapitalize="sentences"
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary text-dark"
          data-test-save-idea-button
        >
          Save
        </button>
        <button
          type="button"
          class="btn btn-light"
          {{on "click" (action (mut this.isAdding) false)}}
        >
          Cancel
        </button>
      </Card.content>
    </form>
  {{/if}}
</PaperCard>
