<PaperCard as |Card|>
  <PaperToolbar as |Toolbar|>
    <Toolbar.tools>
      <h2>Quotes</h2>
    </Toolbar.tools>
  </PaperToolbar>
  <Card.content>
    {{#each this.quotesToShow as |quote|}}
      <Quote::Line @quote={{quote}} @ideas={{@ideas}} />
    {{/each}}
    <Quote::NewForm @source={{@source}} />
  </Card.content>
</PaperCard>
