<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">
    Quotes
  </a>
  <span class="flex-fill"></span>
  <PaperButton @onClick={{action (mut this.isAdding) true}} data-test-add-author-button>
    Add
  </PaperButton>
</nav>

<div class="card">
  <div class="card-body">
    {{#each this.quotesToShow as |quote|}}
      <Quote::Line @quote={{quote}} @ideas={{@ideas}} />
    {{/each}}
    <Quote::NewForm @source={{@source}} />
  </div>
</div>
