<form {{on "submit" this.createQuote}} class="layout-margin">
  <Card.content>
    <div
      class="form-group"
      data-test-quote-field
    >
      <Textarea
        @value={{this.text}}
        id="comments-field"
        class="form-control"
        autocapitalize="sentences"
        placeholder="New Quote"
        {{did-insert this.saveInputElement}}
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary text-dark"
      disabled={{this.buttonDisabled}}
      data-test-save-quote-button
    >
      Save
    </button>
  </Card.content>
</form>
