<LayoutContainer @title="Ideas" @titleLinkRoute="index" as |layout|>
  <layout.sidenav>
    {{#if this.session.isAuthenticated}}
      <PaperList>
        <NavItem @to="index">
          Ideas
        </NavItem>
        <NavItem @to="sources">
          Sources
        </NavItem>
        <NavItem @to="authors" data-test-authors-nav-link>
          Authors
        </NavItem>
        <NavItem @to="tags">
          Tags
        </NavItem>
      </PaperList>
    {{/if}}
  </layout.sidenav>
  <layout.body as |body|>
    <body.toolbar @showSideNavToggle={{this.session.isAuthenticated}}>
      {{#if this.session.isAuthenticated}}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              {{on "click" this.signOut}}
            >
              Sign Out
            </a>
          </li>
        </ul>
      {{/if}}
    </body.toolbar>
    <body.content>
      <div class="layout-row">
        <div class="hide show-gt-md flex-gt-md-10"></div>
        <div class="flex-100 flex-gt-md-80">
          {{yield}}
        </div>
        <div class="hide show-gt-md flex-gt-md-10"></div>
      </div>
    </body.content>
  </layout.body>
</LayoutContainer>
