<PaperCard>
  <PaperToolbar as |Toolbar|>
    <Toolbar.tools>
      <h2>Sources</h2>
    </Toolbar.tools>
  </PaperToolbar>
</PaperCard>

<Source::List @sources={{this.model}} as |source|>
  {{source.author.name}}
</Source::List>
