<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">
    Sources
  </a>
</nav>

<Source::List @sources={{@model}} as |source|>
  {{source.author.name}}
</Source::List>
