<button
  {{on "click" this.goToSourceDetail}}
  type="button"
  class="list-group-item list-group-item-action"
  data-test-source={{@source.title}}
>
  <p>{{@source.title}}</p>
  {{#if (has-block)}}
    <div class="small muted">
      {{yield}}
    </div>
  {{/if}}
</button>
