<form {{on "submit" this.save}}>
  <div class="form-group">
    <label for="tag-name-field">
      Tag Name
    </label>
    <Input
      @value={{this.editedTagName}}
      id="tag-name-field"
      class="form-control"
      autocapitalize="sentences"
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary text-dark"
    data-test-save-button
  >
    Save
  </button>
  <button
    type="button"
    class="btn btn-danger"
    data-test-delete-button
    {{on "click" this.delete}}
  >
    Delete
  </button>
  <button
    type="button"
    class="btn btn-light"
    data-test-cancel-button
    {{on "click" this.cancelEditing}}
  >
    Cancel
  </button>
</form>
