{{#if this.sortedAuthors}}
  <div class="list-group">
    <div class="list-group-item">
      <PaperInput
        @label="Search"
        @value={{this.filter}}
        @onChange={{action (mut this.filter)}}
        class="flex"
      />
    </div>
    {{#each this.filteredAuthors as |author|}}
      <Author::ListItem @author={{author}} />
    {{/each}}
  </div>
{{/if}}
