<PaperItem @onClick={{this.goToAuthorDetail}} class="md-2-line" data-test-author={{@author.name}}>
  <div class="md-list-item-text">
    <h3 class="preserve-line-breaks">{{@author.name}}</h3>
  </div>
</PaperItem>
