{{#if this.sortedAuthors}}
  <div class="list-group">
    <div class="list-group-item">
      <div class="form-group">
        <Input
          @value={{this.filter}}
          class="form-control"
          placeholder="Search"
          autocapitalize="sentences"
        />
      </div>
    </div>
    {{#each this.filteredAuthors as |author|}}
      <Author::ListItem @author={{author}} />
    {{/each}}
  </div>
{{/if}}
