<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">
    Authors
  </a>
  <span class="flex-fill"></span>
  <button
    type="button"
    class="btn btn-outline-dark"
    {{on "click" (fn (mut this.isAdding) true)}}
    data-test-add-author-button
  >
    Add
  </button>
</nav>

{{#if this.isAdding}}
  <form {{on "submit" this.createAuthor}}>
    <div class="card">
      <div class="card-body">
        <div
          class="form-group"
          data-test-author-name-field
        >
          <label for="author-name-field">
            New Author
          </label>
          <Input
            @value={{this.name}}
            id="author-name-field"
            class="form-control"
            autocapitalize="sentences"
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary text-dark"
          data-test-save-author-button
        >
          Save
        </button>
        <button
          type="button"
          class="btn btn-light"
          {{on "click" (action (mut this.isAdding) false)}}
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
{{/if}}
