<PaperForm as |Form|>
  <Form.input
    @value={{this.name}}
    @onChange={{action (mut this.name)}}
  />
</PaperForm>
<button type="button" {{on "click" this.createAuthor}} data-test-save-author-button>
  Save
</button>
