<PaperCard as |Card|>
  <PaperToolbar as |Toolbar|>
    <Toolbar.tools>
      <h2>Authors</h2>
      <span class="flex"></span>
      <PaperButton @onClick={{action (mut this.isAdding) true}} data-test-add-author-button>
        Add
      </PaperButton>
    </Toolbar.tools>
  </PaperToolbar>
  {{#if this.isAdding}}
    <form {{on "submit" this.createAuthor}}>
      <Card.content>
        <div
          class="form-group"
          data-test-author-name-field
        >
          <label for="author-name-field">
            New Author
          </label>
          <Input
            @value={{this.name}}
            id="author-name-field"
            class="form-control"
            autocapitalize="sentences"
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary text-dark"
          data-test-save-author-button
        >
          Save
        </button>
        <button
          type="button"
          class="btn btn-light"
          {{on "click" (action (mut this.isAdding) false)}}
        >
          Cancel
        </button>
      </Card.content>
    </form>
  {{/if}}
</PaperCard>
